section{
	background:#EFF1F3;
	color:#677988;
	margin-top:100px;
	padding-bottom:100px;
}
section:before{
	content:"";
	display:table;
}
section::after{
	content:"";
	display:block;
	clear:both;
}
section>div:first-child{
	margin-top:130px;
	padding-left:10%;
	width:53%;
	position:relative;
	float:left;
}
section>div>h1{
	color:#003150;
	font-size:30px;
	margin-bottom:30px;
	font-weight:400;
}
section>div>h1>a{
	color:#003150;
}
section>div>h1 span{
	font-size:20px;
	text-decoration:underline;
	position:absolute;
	right:2%;

}
.spanright{
	position:absolute;
	left:540px;
}
section>div>span{
	display:inline-block;
	margin:5px 0;
}
input,select{
	height:45px;
	border:1px solid #C7CCD0;
	padding:8px 20px;
	outline:none;
	margin-right:20px;
}

select{
	width:230px;
	height:61px;
}
.inputdemo1{
	width:315px;
}
.inputdemo2{
	width:150px;
}
.yzmdiv{
	display:inline-block;
}
.yzmdiv>img{
	width:150px;
}
button{
	background:#003150;
	width:300px;
	height:90px;
	border:1px solid #003150;
	color:white;
	text-align:left;
	padding:0 20px;
	position:relative;
	cursor:pointer;
}
button b{
	position:absolute;
	right:30px;
	font-size:25px;
	bottom:30px;
}

button:hover{
	background:white;
	color:#003150;
}
.btn1{
	width:200px;
	height:75px;
	text-align:center;
}
.read{
	cursor:pointer;
}
.read>i{
	display:inline-block;
	width:20px;
	height:20px;
	padding:3px;
	border:1px solid #003150;
	position:relative;
	top:7px;
	margin-right:5px;
}
.read+a{
	font-weight:bold;
	color:#003150;
}
.bottombut{
	margin-top:60px;
}
.inlinediv{
	display:inline-block;
}
.mustdiv{
	color:red;
	margin-top:10px;
	opacity:0;
}

section>div:nth-child(2){
	width:30%;
	border-left:1px solid #003150;
	margin-top:130px;
	padding-left:4%;
	position:relative;
	float:right;
	padding-bottom:200px;
}
.welcome{
	font-size:30px;
	margin-bottom:30px;
}
.userlogin{
	margin:100px 0 30px;
	font-weight:400;
	color:#003150;
}
.islogined{
	margin-bottom:50px;
}
.rightinput{
	width:260px;
	margin-bottom:20px;
}
.forgetpwd{
	display:block;
	margin:10px 25% 20px;
	text-decoration:underline;
	color:#003150;
	font-weight:bold;
}
.btnlogin{
	position:relative;
	margin:30px 0 100px;
}
.btnlogin>span{
	position:absolute;
	right:20px;
	font-size:25px;
	bottom:35%;
}
.cooperatelogin{
	color:#003150;
	font-weight:bold;
}
.loginimgs{
	list-style:none;
	margin-top:30px;
}
.loginimgs>li{
	float:left;
	margin-right:30px;
	width:50px;
	height:50px;
	box-sizing:border-box;
	cursor:pointer;
}

.loginimgs>li:first-child{
	background:white url('../img/header/36.png') no-repeat;
	background-position:6px 6px;
}
.loginimgs>li:nth-child(2){
	background:white url('../img/header/34.png') no-repeat;
	background-position:6px 6px;
}
.loginimgs>li:nth-child(3){
	background:white url('../img/header/32.png') no-repeat;
	background-position:6px 6px;
}
.loginimgs>li:first-child:hover{
	background:#003150 url('../img/header/35.png') no-repeat;
	background-position:6px 6px;
}
.loginimgs>li:nth-child(2):hover{
	background:#003150 url('../img/header/33.png') no-repeat;
	background-position:6px 6px;
}
.loginimgs>li:nth-child(3):hover{
	background:#003150 url('../img/header/31.png') no-repeat;
	background-position:6px 6px;

}